node_modules
.git
.idea
*.iml
*.swp
*.swo
*.DS_Store
*.log
*.tmp
*.out
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.rar
*.7z
*.bz2
*.xz
*.lzma
*.lzo
*.lz4
*.lzop
*.lzma86
*.lzop1x
*.lzop2x
*.lzop3x
*.lzop4x
*.lzop5x
*.lzop6x
*.lzop7x
*.lzop8x
*.lzop9x
*.lzop10x
*.lzop11x
*.lzop12x
*.lzop13x
*.lzop14x
*.lzop15x
*.lzop16x
*.lzop17x
*.lzop18x
*.lzop19x
*.lzop20x
*.lzop21x
*.lz
.env